body{
    background-image: url('back.jpg');
    background-repeat: no-repeat;
    background-position: center;
    }
    
    h1{
        text-align: center;
        text-decoration: underline overline dotted rgb(1, 65, 11);
    }
    
    h2{
        text-decoration: underline overline dotted rgb(1, 65, 11);
    }
    
    .table1 {
        margin-left: auto;
        margin-right: auto;
      }
    
    table{
        border-collapse: collapse;
    }
    
    table th {
        text-align: center;
        background-color: rgb(8, 85, 19);
        color: rgb(248, 248, 248);
        border: 2px solid ;
        border-color: black;
        padding: 4px 30px 4px 8px;
        height: 40px;
        width: 150px;
    }
    
    
    table td {
        border: 2px solid ;
        padding: 4px 8 px;
        height: 30px;
    }
    
    